.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-content h1 {
    margin: 0;
}

.right-content {
    text-align: right;
}

.nav-buttons ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-buttons ul li {
    margin-left: 10px;
}

.nav-buttons ul li:first-child {
    margin-left: 0;
}

.welcome-text {
    font-style: italic;
}

#about-me {
    display: flex;
    align-items: center;
}

#about-me h2 {
    margin-right: 20px;
}

.about-me-content {
    flex: 1;
}

.about-me-content img {
    max-width: 100%;
}

#contact-me {
    display: flex;
    align-items: center;
}

#contact-me h2 {
    margin-right: 20px;
}

.contact-info {
    flex: 1;
}

.contact-info ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.contact-info ul li {
    margin-bottom: 5px;
}

.contact-info ul li a {
    display: block;
}
