.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(225, 173, 239);
    font-weight: bold;
}

.left-content h1 {
    margin: 0;
    
}

.right-content {
    text-align: right;
}

.nav-buttons ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: rgb(220, 155, 238);
}

.nav-buttons ul li {
    margin-left: 10px;
}

.nav-buttons ul li:first-child {
    margin-left: 0;
}

.welcome-text {
    font-style: italic;
}

#about-me {
    display: flex;
    align-items: center;
    border-left: 50px;
}

.section-title {
    margin-right: 20px;
}

.about-me-content {
    flex: 1; 
    border-left: 2px solid black;
}

.about-me-content img {
    max-width: 100%;
}

#contact-me {
    display: flex;
    align-items: center;
}

#resume {
    display: flex;
    align-items: center;
}

.resume-content {
    border-left: 2px solid black;
}

.contact-content {
    flex: 1;
    border-left: 2px solid black;
}

.contact-content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.contact-content ul li {
    margin-bottom: 5px;
}

.contact-content ul li a {
    display: block;
}

.work-content {
    border-left: 2px solid black;
}

#body{
    background-color: #567895;
}